DES/Web/App_WebReferences/ServiceMarcarSituaciones/Marcajes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Fiscal/Marcajes/Marcajes.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="InsertarLotesArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fichero" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarLotesArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InsertarLotesArchivoResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInmueblesIdPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInmueblesIdPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerInmueblesIdPersonaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.INMUEBLESDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="INMUEBLESDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasIdPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:decimal" />
        <xs:element minOccurs="0" name="grupos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasIdPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerClasificadasIdPersonaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarClasificadas.FIS_MARCARCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarClasificadas.xsd" name="namespace" />
            <xs:attribute fixed="FIS_MARCARCLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasIdPersonaHistoricos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:decimal" />
        <xs:element minOccurs="0" name="grupos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasIdPersonaHistoricosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerClasificadasIdPersonaHistoricosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarClasificadas.FIS_MARCARCLASIFICADASHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarClasificadas.xsd" name="namespace" />
            <xs:attribute fixed="FIS_MARCARCLASIFICADASHDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodasCatClasificadas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodasCatClasificadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTodasCatClasificadasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DseCatalogosMarcajes.FIS_CATCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseCatalogos.xsd" name="namespace" />
            <xs:attribute fixed="FIS_CATCLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grupos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerClasificadasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarClasificadas.FIS_MARCARCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarClasificadas.xsd" name="namespace" />
            <xs:attribute fixed="FIS_MARCARCLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grupos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerClasificadasCuentaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarClasificadas.FIS_MARCARCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarClasificadas.xsd" name="namespace" />
            <xs:attribute fixed="FIS_MARCARCLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasCuentaHistoricos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grupos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasCuentaHistoricosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerClasificadasCuentaHistoricosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarClasificadas.FIS_MARCARCLASIFICADASHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarClasificadas.xsd" name="namespace" />
            <xs:attribute fixed="FIS_MARCARCLASIFICADASHDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasCodigoPaginacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClasificada" type="xs:decimal" />
        <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="sortexpresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClasificadasCodigoPaginacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerClasificadasCodigoPaginacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarClasificadas.FIS_MARCARCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarClasificadas.xsd" name="namespace" />
            <xs:attribute fixed="FIS_MARCARCLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarClasificada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idClasificada" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarClasificadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarClasificadaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClasificadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCuentaClasificada" type="xs:decimal" />
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idClasificada" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClasificadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarClasificadasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarClasificada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCuentaClasificada" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarClasificadaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarClasificadasArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fichero" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarClasificadasArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InsertarClasificadasArchivoResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCatalogosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DseCatalogosMarcajes" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/dseCatalogos.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatClasificadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatClasificadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCatClasificadasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DseCatalogosMarcajes.FIS_CATCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseCatalogos.xsd" name="namespace" />
            <xs:attribute fixed="FIS_CATCLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatClasificadasByEjercicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEjercicio" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCatClasificadasByEjercicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCatClasificadasByEjercicioResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DseCatalogosMarcajes.FIS_CATCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseCatalogos.xsd" name="namespace" />
            <xs:attribute fixed="FIS_CATCLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesMotivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesMotivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesMotivosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DseCatalogosMarcajes.FIS_CATMARCAJESMOTIVOSDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseCatalogos.xsd" name="namespace" />
            <xs:attribute fixed="FIS_CATMARCAJESMOTIVOSDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesSubmotivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codMotivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesSubmotivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesSubmotivosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DseCatalogosMarcajes.FIS_CATMARCAJESSUBMOTIVOSDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseCatalogos.xsd" name="namespace" />
            <xs:attribute fixed="FIS_CATMARCAJESSUBMOTIVOSDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasPorLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listaInmuebles" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasPorListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasPorListaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasEmision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInmueble" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasEmisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasEmisionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasClaveResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasClaveHist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasClaveHistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasClaveHistResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASHISTDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASHISTDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasIdPersonaHist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasIdPersonaHistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasIdPersonaHistResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASHISTDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASHISTDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codMotivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasDescripcionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasDescripcionPaginacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codMotivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="sortexpresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcajesCuentasDescripcionPaginacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerMarcajesCuentasDescripcionPaginacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarSituaciones.MARCAJESCUENTASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarSituaciones.xsd" name="namespace" />
            <xs:attribute fixed="MARCAJESCUENTASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMarcajeCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codMotivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idInmueble" type="xs:decimal" />
        <xs:element minOccurs="0" name="codSubmotivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMarcajeCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarcajeCuenta" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopiarClasificadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdClasifOrigen" type="xs:decimal" />
        <xs:element minOccurs="0" name="IdClasifDestino" type="xs:decimal" />
        <xs:element minOccurs="0" name="Sobreescribir" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopiarClasificadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopiarClasificadasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarClasificadas.FIS_COPIAR_CLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarClasificadas.xsd" name="namespace" />
            <xs:attribute fixed="FIS_COPIAR_CLASIFICADASDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMarcajesCuentasArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fichero" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMarcajesCuentasArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InsertarMarcajesCuentasArchivoResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMarcajeCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarcajeCuenta" type="xs:decimal" />
        <xs:element minOccurs="0" name="codMotivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idInmueble" type="xs:decimal" />
        <xs:element minOccurs="0" name="codSubmotivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMarcajeCuentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarMarcajeCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarcajeCuenta" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarMarcajeCuentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesLoteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesLoterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAsignacionesLoterosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.ASIGNACIONESDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="ASIGNACIONESDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesLoterosPaginacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="sortexpresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesLoterosPaginacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAsignacionesLoterosPaginacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.ASIGNACIONESDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="ASIGNACIONESDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLoteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="par_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_apellidopaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_apellidomaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_rfc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_curp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_claveife" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLoterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerLoterosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.LOTEROSDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="LOTEROSDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInmuebles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerInmueblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerInmueblesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.INMUEBLESDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="INMUEBLESDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNoLoteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="par_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_apellidopaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_apellidomaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_rfc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_curp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="par_claveife" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNoLoterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNoLoterosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.LOTEROSDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="LOTEROSDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesasignarLotero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonaLotero" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesasignarLoteroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarLotero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInmueble" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsignarLoteroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsignarLoteroResult" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idPersonaLotero" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesByClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesByClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAsignacionesByClaveResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.ASIGNACIONESDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="ASIGNACIONESDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesByClaveHist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesByClaveHistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAsignacionesByClaveHistResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.ASIGNACIONESHISTDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="ASIGNACIONESHISTDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesHByIdPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesHByIdPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAsignacionesHByIdPersonaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.ASIGNACIONESHISTDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="ASIGNACIONESHISTDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesHByIdPersonaPaginacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:decimal" />
        <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="sortexpresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAsignacionesHByIdPersonaPaginacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAsignacionesHByIdPersonaPaginacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSMarcarLotes.ASIGNACIONESHISTDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.Marcajes.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/DSMarcarLotes.xsd" name="namespace" />
            <xs:attribute fixed="ASIGNACIONESHISTDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="pagesTotal" type="xs:int" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteLotero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInmueble" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idPersonaIn" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteLoteroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteLoteroResult" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoteroAInmueble">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idInmueble" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoteroAInmuebleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoteroAInmuebleByClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idManzana" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idLote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUnidadprivativa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPersona" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoteroAInmuebleByClaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>