DES/Services/Service References/ServiceAnalisisValores/AnalisisValoresInmobiliario54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIGAPred.TomaDecisiones.AnalisisValores.Services.AccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIGAPred.TomaDecisiones.AnalisisValores.Services.AccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dsAnalisisValoresInmobiliario.AVA_SERVINMOBILIARIOAVALUODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="dsAnalisisValoresInmobiliario.AVA_SERVINMOBILIARIOAVALUODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.TomaDecisiones.AnalisisValores.Services.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/dsAnalisisValoresInmobiliario.xsd" name="namespace" />
      <xs:attribute fixed="AVA_SERVINMOBILIARIOAVALUODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>