DES/Web/App_WebReferences/ServiceDocumental/DocumentosDigitales76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.Negocio.Gestion.DocumentosDigitales.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.Negocio.Gestion.DocumentosDigitales.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFoto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Foto" nillable="true" type="tns:Foto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoto" nillable="true" type="tns:ArrayOfFoto" />
  <xs:complexType name="Foto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDocumentoDigital" type="xs:decimal" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Foto" nillable="true" type="tns:Foto" />
</xs:schema>