DES/Web/App_WebReferences/ServiceDocumental/DocumentosDigitales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentosDigitales" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DocumentosDigitales_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" />
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.Negocio.Base" />
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd5" namespace="http://tempuri.org/dseDocumentosDigitales.xsd" />
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" />
      <xsd:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.Negocio.Gestion.DocumentosDigitales.Interface" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentosDigitales_DeleteDocumentoDigital_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentoDigital" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteDocumentoDigital_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentoDigitalResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteDocumentoDigital_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q1:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetDocumentoDigitalById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentoDigitalById" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetDocumentoDigitalById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentoDigitalByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetDocumentoDigitalById_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q2:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_CountFicheroDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:CountFicheroDocumento" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_CountFicheroDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountFicheroDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_CountFicheroDocumento_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q3:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteFicherosDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFicherosDocumento" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteFicherosDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFicherosDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteFicherosDocumento_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q4:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteFicheroDocumentoByDocumentoDigital_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFicheroDocumentoByDocumentoDigital" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteFicheroDocumentoByDocumentoDigital_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFicheroDocumentoByDocumentoDigitalResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_DeleteFicheroDocumentoByDocumentoDigital_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q5:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicheroDocumentoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFicheroDocumentoById" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicheroDocumentoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFicheroDocumentoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicheroDocumentoById_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q6:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicherosDocumentoByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFicherosDocumentoByIds" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicherosDocumentoByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFicherosDocumentoByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicherosDocumentoByIds_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q7:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicherosByDocumentoDigital_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFicherosByDocumentoDigital" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicherosByDocumentoDigital_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFicherosByDocumentoDigitalResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFicherosByDocumentoDigital_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q8:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFirstFicheroDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstFicheroDocumento" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFirstFicheroDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstFicheroDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetFirstFicheroDocumento_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q9:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetImagenes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImagenes" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetImagenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagenesResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetImagenes_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q10:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetRawImagenes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawImagenes" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetRawImagenes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawImagenesResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetRawImagenes_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q11:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetImagenesReducidas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImagenesReducidas" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetImagenesReducidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagenesReducidasResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetImagenesReducidas_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q12:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetRawImagenesReducidas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawImagenesReducidas" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetRawImagenesReducidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawImagenesReducidasResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_GetRawImagenesReducidas_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q13:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_InsertFicheroTransaccional_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFicheroTransaccional" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_InsertFicheroTransaccional_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFicheroTransaccionalResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_InsertFicheroTransaccional_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q14:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_InsertFicheroDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFicheroDocumento" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_InsertFicheroDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFicheroDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_InsertFicheroDocumento_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q15:AccesoDatosException" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_UpdateFicheroDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFicheroDocumento" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_UpdateFicheroDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFicheroDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentosDigitales_UpdateFicheroDocumento_AccesoDatosExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Exceptions" name="detail" element="q16:AccesoDatosException" />
  </wsdl:message>
  <wsdl:portType name="IDocumentosDigitales">
    <wsdl:operation name="DeleteDocumentoDigital">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteDocumentoDigital" message="tns:IDocumentosDigitales_DeleteDocumentoDigital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteDocumentoDigitalResponse" message="tns:IDocumentosDigitales_DeleteDocumentoDigital_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteDocumentoDigitalAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_DeleteDocumentoDigital_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentoDigitalById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetDocumentoDigitalById" message="tns:IDocumentosDigitales_GetDocumentoDigitalById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetDocumentoDigitalByIdResponse" message="tns:IDocumentosDigitales_GetDocumentoDigitalById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetDocumentoDigitalByIdAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetDocumentoDigitalById_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountFicheroDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/CountFicheroDocumento" message="tns:IDocumentosDigitales_CountFicheroDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/CountFicheroDocumentoResponse" message="tns:IDocumentosDigitales_CountFicheroDocumento_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/CountFicheroDocumentoAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_CountFicheroDocumento_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFicherosDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteFicherosDocumento" message="tns:IDocumentosDigitales_DeleteFicherosDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteFicherosDocumentoResponse" message="tns:IDocumentosDigitales_DeleteFicherosDocumento_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteFicherosDocumentoAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_DeleteFicherosDocumento_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFicheroDocumentoByDocumentoDigital">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteFicheroDocumentoByDocumentoDigital" message="tns:IDocumentosDigitales_DeleteFicheroDocumentoByDocumentoDigital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteFicheroDocumentoByDocumentoDigitalResponse" message="tns:IDocumentosDigitales_DeleteFicheroDocumentoByDocumentoDigital_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/DeleteFicheroDocumentoByDocumentoDigitalAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_DeleteFicheroDocumentoByDocumentoDigital_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFicheroDocumentoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicheroDocumentoById" message="tns:IDocumentosDigitales_GetFicheroDocumentoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicheroDocumentoByIdResponse" message="tns:IDocumentosDigitales_GetFicheroDocumentoById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicheroDocumentoByIdAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetFicheroDocumentoById_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFicherosDocumentoByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicherosDocumentoByIds" message="tns:IDocumentosDigitales_GetFicherosDocumentoByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicherosDocumentoByIdsResponse" message="tns:IDocumentosDigitales_GetFicherosDocumentoByIds_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicherosDocumentoByIdsAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetFicherosDocumentoByIds_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFicherosByDocumentoDigital">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicherosByDocumentoDigital" message="tns:IDocumentosDigitales_GetFicherosByDocumentoDigital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicherosByDocumentoDigitalResponse" message="tns:IDocumentosDigitales_GetFicherosByDocumentoDigital_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFicherosByDocumentoDigitalAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetFicherosByDocumentoDigital_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstFicheroDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFirstFicheroDocumento" message="tns:IDocumentosDigitales_GetFirstFicheroDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFirstFicheroDocumentoResponse" message="tns:IDocumentosDigitales_GetFirstFicheroDocumento_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetFirstFicheroDocumentoAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetFirstFicheroDocumento_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImagenes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetImagenes" message="tns:IDocumentosDigitales_GetImagenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetImagenesResponse" message="tns:IDocumentosDigitales_GetImagenes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetImagenesAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetImagenes_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawImagenes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetRawImagenes" message="tns:IDocumentosDigitales_GetRawImagenes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetRawImagenesResponse" message="tns:IDocumentosDigitales_GetRawImagenes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetRawImagenesAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetRawImagenes_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImagenesReducidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetImagenesReducidas" message="tns:IDocumentosDigitales_GetImagenesReducidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetImagenesReducidasResponse" message="tns:IDocumentosDigitales_GetImagenesReducidas_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetImagenesReducidasAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetImagenesReducidas_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRawImagenesReducidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetRawImagenesReducidas" message="tns:IDocumentosDigitales_GetRawImagenesReducidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetRawImagenesReducidasResponse" message="tns:IDocumentosDigitales_GetRawImagenesReducidas_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/GetRawImagenesReducidasAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_GetRawImagenesReducidas_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFicheroTransaccional">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/InsertFicheroTransaccional" message="tns:IDocumentosDigitales_InsertFicheroTransaccional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/InsertFicheroTransaccionalResponse" message="tns:IDocumentosDigitales_InsertFicheroTransaccional_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/InsertFicheroTransaccionalAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_InsertFicheroTransaccional_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFicheroDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/InsertFicheroDocumento" message="tns:IDocumentosDigitales_InsertFicheroDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/InsertFicheroDocumentoResponse" message="tns:IDocumentosDigitales_InsertFicheroDocumento_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/InsertFicheroDocumentoAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_InsertFicheroDocumento_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFicheroDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentosDigitales/UpdateFicheroDocumento" message="tns:IDocumentosDigitales_UpdateFicheroDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentosDigitales/UpdateFicheroDocumentoResponse" message="tns:IDocumentosDigitales_UpdateFicheroDocumento_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDocumentosDigitales/UpdateFicheroDocumentoAccesoDatosExceptionFault" name="AccesoDatosExceptionFault" message="tns:IDocumentosDigitales_UpdateFicheroDocumento_AccesoDatosExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentosDigitales" type="tns:IDocumentosDigitales">
    <wsp:PolicyReference URI="#DocumentosDigitales_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteDocumentoDigital">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/DeleteDocumentoDigital" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentoDigitalById">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetDocumentoDigitalById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CountFicheroDocumento">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/CountFicheroDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFicherosDocumento">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/DeleteFicherosDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteFicheroDocumentoByDocumentoDigital">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/DeleteFicheroDocumentoByDocumentoDigital" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFicheroDocumentoById">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetFicheroDocumentoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFicherosDocumentoByIds">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetFicherosDocumentoByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFicherosByDocumentoDigital">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetFicherosByDocumentoDigital" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFirstFicheroDocumento">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetFirstFicheroDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetImagenes">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetImagenes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRawImagenes">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetRawImagenes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetImagenesReducidas">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetImagenesReducidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRawImagenesReducidas">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/GetRawImagenesReducidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertFicheroTransaccional">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/InsertFicheroTransaccional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertFicheroDocumento">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/InsertFicheroDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateFicheroDocumento">
      <soap12:operation soapAction="http://tempuri.org/IDocumentosDigitales/UpdateFicheroDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccesoDatosExceptionFault">
        <soap12:fault use="literal" name="AccesoDatosExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentosDigitales">
    <wsdl:port name="DocumentosDigitales" binding="tns:DocumentosDigitales">
      <soap12:address location="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>