DES/Web/App_WebReferences/ServiceDocumental/DocumentosDigitales6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.Negocio.Gestion.DocumentosDigitales.Interface" />
  <xs:element name="DeleteDocumentoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaIdDocumentoDigital" nillable="true" type="q1:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentoDigitalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoDigitalById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocumentoDigital" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoDigitalByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentoDigitalByIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dseDocumentosDigitales.DOC_DOCUMENTODIGITALDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
            <xs:attribute fixed="DOC_DOCUMENTODIGITALDataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountFicheroDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocumentoDigital" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountFicheroDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountFicheroDocumentoResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFicherosDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listadoIdFicheroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFicherosDocumentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFicheroDocumentoByDocumentoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocumentoDigital" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFicheroDocumentoByDocumentoDigitalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFicheroDocumentoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFicheroDocumento" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFicheroDocumentoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFicheroDocumentoByIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dseDocumentosDigitales.DOC_FICHERODOCUMENTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
            <xs:attribute fixed="DOC_FICHERODOCUMENTODataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFicherosDocumentoByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listIdsFicherosDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFicherosDocumentoByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFicherosDocumentoByIdsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dseDocumentosDigitales.DOC_FICHERODOCUMENTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
            <xs:attribute fixed="DOC_FICHERODOCUMENTODataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFicherosByDocumentoDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocumentoDigital" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFicherosByDocumentoDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFicherosByDocumentoDigitalResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dseDocumentosDigitales.DOC_FICHERODOCUMENTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
            <xs:attribute fixed="DOC_FICHERODOCUMENTODataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstFicheroDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocumentoDigital" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstFicheroDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFirstFicheroDocumentoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaIdDocumentoDigital" nillable="true" type="q2:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImagenesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dseDocumentosDigitales.DOC_FICHERODOCUMENTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
            <xs:attribute fixed="DOC_FICHERODOCUMENTODataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawImagenes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaIdDocumentoDigital" nillable="true" type="q3:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawImagenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.Negocio.Gestion.DocumentosDigitales.Interface" minOccurs="0" name="GetRawImagenesResult" nillable="true" type="q4:ArrayOfFoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenesReducidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaIdDocumentoDigital" nillable="true" type="q5:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="proporcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagenesReducidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImagenesReducidasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="dseDocumentosDigitales.DOC_FICHERODOCUMENTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
            <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
            <xs:attribute fixed="DOC_FICHERODOCUMENTODataTable" name="tableTypeName" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawImagenesReducidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listaIdDocumentoDigital" nillable="true" type="q6:ArrayOfdecimal" />
        <xs:element minOccurs="0" name="proporcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRawImagenesReducidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.Negocio.Gestion.DocumentosDigitales.Interface" minOccurs="0" name="GetRawImagenesReducidasResult" nillable="true" type="q7:ArrayOfFoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFicheroTransaccional">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="binariodatos" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFicheroTransaccionalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFicheroTransaccionalResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFicheroDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocumentoDigital" type="xs:decimal" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="binariodatos" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFicheroDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFicheroDocumentoResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFicheroDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFicheroDocumento" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="fichero" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nombreFichero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFicheroDocumentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>