DES/Web/App_WebReferences/ServiceDocumental/DocumentosDigitales2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dseDocumentosDigitales.DOC_DOCUMENTODIGITALDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="dseDocumentosDigitales.DOC_DOCUMENTODIGITALDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
      <xs:attribute fixed="DOC_DOCUMENTODIGITALDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="dseDocumentosDigitales.DOC_FICHERODOCUMENTODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="dseDocumentosDigitales.DOC_FICHERODOCUMENTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Documental.Services.AccesoDatos.Gestion.DocumentosDigitales" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/dseDocumentosDigitales.xsd" name="namespace" />
      <xs:attribute fixed="DOC_FICHERODOCUMENTODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>