DES/Services/Service References/ServiceFiscal/Administracion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DseAdministracion.FIS_CATINPCDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATINPCDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATINPCDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATVARIOSMOTIVODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATVARIOSMOTIVODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATVARIOSMOTIVODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_OPERACIONEJERCICIO_VDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_OPERACIONEJERCICIO_VDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_OPERACIONEJERCICIO_VDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_EJERCICIOPERIODO_VDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_EJERCICIOPERIODO_VDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_EJERCICIOPERIODO_VDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.RCO_CATCENTROREPARTODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.RCO_CATCENTROREPARTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="RCO_CATCENTROREPARTODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.RCO_LOTEROSDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.RCO_LOTEROSDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="RCO_LOTEROSDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_SECUENCIAPASOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_SECUENCIAPASOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_SECUENCIAPASOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_SECUENCIAPASODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_SECUENCIAPASODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_SECUENCIAPASODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATTIPOSSENTENCIADataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATTIPOSSENTENCIADataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATTIPOSSENTENCIADataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATPASODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATPASODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATPASODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_TASASRECARGODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_TASASRECARGODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_TASASRECARGODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATGRUPOIMPRESIONDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATGRUPOIMPRESIONDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATGRUPOIMPRESIONDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATTARIFAIMPUESTODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATTARIFAIMPUESTODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATTARIFAIMPUESTODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATUSOSEJERCICIO_VDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATUSOSEJERCICIO_VDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATUSOSEJERCICIO_VDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_OPERACIONEJERCICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_OPERACIONEJERCICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_OPERACIONEJERCICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_EJERCICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_EJERCICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_EJERCICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATRANGOVALORSUELODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATRANGOVALORSUELODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATRANGOVALORSUELODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATTASASRECARGODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATTASASRECARGODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATTASASRECARGODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATCLASESEJERCICIO_VDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATCLASESEJERCICIO_VDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATCLASESEJERCICIO_VDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATCLASESDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATCLASESDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATCLASESDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATCLASIFICADASDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATCLASIFICADASDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATCLASIFICADASDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATUSOSDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATUSOSDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATUSOSDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_VUCDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_VUCDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_VUCDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_VUCHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_VUCHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_VUCHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_OPERACIONEJERCICIOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_OPERACIONEJERCICIOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_OPERACIONEJERCICIOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_RANGONIVELESEJERCICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_RANGONIVELESEJERCICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_RANGONIVELESEJERCICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CLASESEJERCICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CLASESEJERCICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CLASESEJERCICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_USOSEJERCICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_USOSEJERCICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_USOSEJERCICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATRANGONIVELESDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATRANGONIVELESDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATRANGONIVELESDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATBENEFICIOMOTIVODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATBENEFICIOMOTIVODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATBENEFICIOMOTIVODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATBENEFICIOMOTIVOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATBENEFICIOMOTIVOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATBENEFICIOMOTIVOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATBENEFICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATBENEFICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATBENEFICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATBENEFICIOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATBENEFICIOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATBENEFICIOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATTARIFAIMPUESTOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATTARIFAIMPUESTOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATTARIFAIMPUESTOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATRANGOVALORSUELOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATRANGOVALORSUELOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATRANGOVALORSUELOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_MANZANAAREAVALORDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_MANZANAAREAVALORDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_MANZANAAREAVALORDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_MANZANAAREAVALORHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_MANZANAAREAVALORHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_MANZANAAREAVALORHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATTIPOSEJERCICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATTIPOSEJERCICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATTIPOSEJERCICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATTIPOBENEFICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATTIPOBENEFICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATTIPOBENEFICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATTIPOACCESORIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATTIPOACCESORIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATTIPOACCESORIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_ACCESORIOBENEFICIODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_ACCESORIOBENEFICIODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_ACCESORIOBENEFICIODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_ACCESORIOBENEFICIOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_ACCESORIOBENEFICIOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_ACCESORIOBENEFICIOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATBENEFICIOACREDITACIONDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATBENEFICIOACREDITACIONDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATBENEFICIOACREDITACIONDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CATBENEFACREDITACIONHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CATBENEFACREDITACIONHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CATBENEFACREDITACIONHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_ENCLAVEVALORDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_ENCLAVEVALORDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_ENCLAVEVALORDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_ENCLAVEVALORHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_ENCLAVEVALORHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_ENCLAVEVALORHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_AREAVALORDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_AREAVALORDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_AREAVALORDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_PREDIOENCLAVEVALORDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_PREDIOENCLAVEVALORDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_PREDIOENCLAVEVALORDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_PREDIOENCLAVEVALORHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_PREDIOENCLAVEVALORHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_PREDIOENCLAVEVALORHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_AREAVALORHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_AREAVALORHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_AREAVALORHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_FECHASVIGENCIADataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_FECHASVIGENCIADataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_FECHASVIGENCIADataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CORREDORVALORDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CORREDORVALORDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CORREDORVALORDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_CORREDORVALORHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_CORREDORVALORHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_CORREDORVALORHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_PREDIOCORREDORVALORDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_PREDIOCORREDORVALORDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_PREDIOCORREDORVALORDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_PREDIOCORREDORVALORHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_PREDIOCORREDORVALORHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_PREDIOCORREDORVALORHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_EJERCICIOPERIODODataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_EJERCICIOPERIODODataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_EJERCICIOPERIODODataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_EJERCICIOHDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_EJERCICIOHDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_EJERCICIOHDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DseAdministracion.FIS_ANOS_VDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DseAdministracion.FIS_ANOS_VDataTable" Namespace="http://schemas.datacontract.org/2004/07/SIGAPred.Fiscal.AccesoDatos" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DseAdministracion.xsd" name="namespace" />
      <xs:attribute fixed="FIS_ANOS_VDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>